.definition-weapper {
  display: flex;
  flex-direction: row;
}

.status-wrapper{
  width: 50%;
}

.generate{
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}