.pending-definitions {
  display:flex;
  align-items: center;
  width: 50%;
  flex-direction: column;
}

.definitions-table {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-left: 25%;
  height: 500px;
  overflow-y: auto;
}

.definitions-table td, .definitions-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.definitions-table tr:nth-child(even){background-color: #f2f2f2;}

.definitions-table tr.over-due{
  background-color: rgba(255, 0, 0, 0.3);
}

.definitions-table tr.over-due:nth-child(even){
  background-color: rgba(255, 0, 0, 0.6);

}

.definitions-table tr:hover {background-color: #ddd;}

.definitions-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #282c34;
  color: white;
}

.email-body {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
}

.resipients {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
}

.table-body{
  overflow: auto;
  width:100%;
  height: 500px;
}

.table-header{
  width:100%;
}